<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport"
          content="user-scalable=no, width=device-width, minimum-scale=1, maximum-scale=1">

    <title>静态文件管理</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/layui.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <style type="text/css">
        .wa {
            width: 100%;
        }
    </style>

</head>

<body>
<header id="header">
    <div>
        <a href="add" class="download1"> <span
                class="glyphicon glyphicon-plus-sign"></span> <br>发布item
        </a>
        <a href="" class="download1"> <span
                class="glyphicon glyphicon-folder-open"></span> <br>静态文件列表
        </a>
        <a href="templates" class="about"> <span
                class="glyphicon glyphicon-paperclip"></span> <br>模板管理
        </a>
        <a href="https://mashibing.com/#" class="home"> </a>
        <a href="#"
           class="api"> <span class="glyphicon  glyphicon-ok-sign"></span>
            <br>文件检查
        </a>
        <a class="demo" href="#"> <span
                class="glyphicon glyphicon-floppy-disk"></span> <br>系统设置
        </a>
        <a class="demo" href="health"> <span
                class="glyphicon glyphicon glyphicon-tasks"></span> <br>系统状态
        </a>
    </div>
</header>

<div class="content why-hilo">
    <h2>商品列表</h2>
    <a style="text-align:center" href="generateAll">批量生成静态文件</a>
    <a style="text-align:center" href="generateMain">生成首页静态文件</a>
    <p class="info" style="text-align:center">

        <table border="1" class="layui-table" style="margin:auto">
            <thead><tr><th>ID</th><th>商品名称</th><th>描述</th><!--<th>上架日期</th>--><th>操作</th></tr></thead>
            <tbody>
            #for(item : items)
                <tr>
                    <td>#(item.id)</td>
                    <td>#(item.title)</td>
                    <td>#(item.content)</td>
                    <!--<td>#(item.lastGenerate)</td>-->
                    <td>
                        <a href="item?id=#(item.id)" class="layui-btn">查看动态预览</a>
                        <a href="item-#(item.id).html" class="layui-btn">查看静态文件</a>
                        <a href="generageHtml?id=#(item.id)" class="layui-btn">生成静态文件</a>
                    </td>
                </tr>
            #end
            </tbody>
        </table>

    </p>
    <div style="text-align: -webkit-center;">

    </div>


    <div class="intro-wrap" id="introWrap">



        <p>Copyright © 2019 Mashibing EDU All Rights Reserved.</p>



    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="layui.all.js"></script>
</body>

</html>